.article{
    color: rgb(252, 248, 248);
    background-color: rgb(71, 122, 124);
    opacity: 0.9;
    padding: 20px;
}
h1{
    color: rgb(236, 30, 30);
    font-weight: 400!important;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
hr{
    margin-top: 25px!important;
}