h3{
    text-align: center;
    font-size: 50px!important;
    margin:0;
    padding-top:150px!important;
    font-weight: bold!important;
    color: red!important;
}

/* .image{
    height: 575px;
} */