.container-fluid{
  background-image: url('/img/back_yellowgreen.jpeg');
  background-attachment: fixed;
  background-size: cover;
}
.slogo{
  margin-bottom: 5px;
}
.logo{
  z-index: 99;
  position: absolute;
  float: left;
  margin-top: 20px;
  margin-left:20px;
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.slogan{
  z-index: 98;
  position: absolute;
  margin-top: 90px;
  margin-left:20px;
  float: left;
  color: green;
  font-size: 20px;
  font-style: italic;
}

.reseau{
  z-index: 100;
  position: absolute;
  width:5px;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.menu li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.menu {
  background-color: rgb(75, 46, 9);
  padding: 0;
  opacity: 0.8;
}
ul.menu li a {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 25px;
  display: inline-block;
}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active:hover {
  background-color: rgb(130, 177, 0);
}

